body {
  scroll-behavior: smooth;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(to right, #fd910d, #6610f2);
  color: white;
  display: flex;
  align-items: center;
}

/* PROJECT CARD */
.project-card {
  transition: 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
}

/* TYPOGRAPHY */
h1,
h2 {
  font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero {
    text-align: center;
  }
}